[user]
  name = Mallory Adams
  email = mallory@dxw.com
[alias]
  p = !git pull --ff-only && git submodule update --init --recursive
  st = status
  ci = commit
  cia = commit -a
  di = diff
  suir = !git submodule sync && git submodule update --init --recursive
  graph = log --graph --decorate --oneline --full-history
  empty = commit --allow-empty -m Empty
  f = fetch --all
  s = switch
  sd = switch --detach
  root = rev-parse --show-toplevel
  m = !git switch -C master origin/master && git p && git merge --no-ff --no-edit origin/develop
  delete-merged = !git branch --merged master | cut -c 3- | grep -v '^master$' | grep -v '^develop$' | xargs git branch --delete
  # fzf aliases
  cf = !git-branch-fzf git switch
[push]
  default = current
[fetch]
  prune = true
  writeCommitGraph = true
[core]
  whitespace = trailing-space
  excludesFile = ~/.gitexcludesfile
[hooks]
  allownonascii = true
[color]
  ui = auto
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[pull]
  ff = "only"
[url "git@git.dxw.net:"]
  # Allow using go get with our private repos
  insteadOf = https://git.dxw.net/
[rebase]
  autoSquash = true
[status]
  submoduleSummary = true
[mailmap]
  file = /home/core/.mailmap
[log]
  mailmap = true
