[user]
  name = Mallory Adams
  email = mallory@dxw.com
[alias]
  p = !git pull --ff-only && git submodule update --init --recursive
  st = status
  ci = commit
  cia = commit -a
  di = diff
  suir = !git submodule sync && git submodule update --init --recursive
  graph = log --graph --decorate --oneline --full-history
  empty = commit --allow-empty -m Empty
  f = fetch --all
  c = checkout
  # fzf aliases
  cf = !git-branch-fzf git checkout
  m = !git c -B master origin/master && git p && git merge --no-ff --no-edit origin/develop
[push]
  default = current
[fetch]
  prune = true
[core]
  whitespace = trailing-space
  excludesFile = ~/.gitexcludesfile
[hooks]
  allownonascii = true
[color]
  ui = auto
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[pull]
  ff = "only"
[url "git@git.dxw.net:"]
  # Allow using go get with our private repos
  insteadOf = https://git.dxw.net/
[rebase]
  autoSquash = true
[status]
  submoduleSummary = true
